body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#fff8e7;
}

header{
    background:#d62828;
    color:white;
    text-align:center;
    padding:25px;
    border-bottom:6px solid #ffb703;
}

header h1{
    margin:0;
    font-size:32px;
}

header p{
    margin-top:8px;
    font-size:16px;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

.botao{
    width:100%;
    margin:10px 0;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#ffb703;
    color:#222;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.botao:hover{
    background:#ffcb3d;
}
.banner{
    background:linear-gradient(135deg,#d62828,#ffb703);
    color:white;
    padding:30px;
    border-radius:18px;
    text-align:center;
    margin-bottom:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.banner h2{
    margin:0;
    font-size:28px;
}

.banner p{
    margin-top:10px;
    font-size:17px;
        }
